*.o
*.swp
*.tar.gz
*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-stamp
config.h
config.h.in
config.h.in~
config.log
config.status
configure
stamp-h1
.deps
.libs
